<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Starter Panel Options</h5>
		<div class="gf-form">
			<label class="gf-form-label width-9">Bg Color</label>
			<span class="max-width-10">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.bgColor" ng-change="ctrl.render()" ></spectrum-picker>
			</span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-6">Unit</label>
      <div class="gf-form-dropdown-typeahead width-18" ng-model="ctrl.panel.format" dropdown-typeahead2="ctrl.unitFormats" dropdown-typeahead-on-select="ctrl.setUnitFormat($subItem)"></div>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Spark lines</h5>
    <gf-form-switch class="gf-form" label-class="width-9" label="Show" checked="ctrl.panel.sparkline.show" on-change="ctrl.render()"></gf-form-switch>
    <div ng-if="ctrl.panel.sparkline.show">
      <gf-form-switch class="gf-form" label-class="width-9" label="Full height" checked="ctrl.panel.sparkline.full" on-change="ctrl.render()"></gf-form-switch>
      <div class="gf-form">
        <label class="gf-form-label width-9">Line Color</label>
        <span class="gf-form-label">
          <color-picker color="ctrl.panel.sparkline.lineColor" onChange="ctrl.onSparklineColorChange"></color-picker>
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-9">Fill Color</label>
        <span class="gf-form-label">
          <color-picker color="ctrl.panel.sparkline.fillColor" onChange="ctrl.onSparklineFillChange"></color-picker>
        </span>
      </div>
    </div>
  </div>
</div>
